{% extends '::base.html.twig' %}
{% block body %}
    <div class="wrapper">
        <h1>Upload file</h1>
        {{ form_start(form, {'attr': {'class': 'js-form_file_upload'}}) }}
            {{ form_row(form.fileUpload) }}
        {{ form_end(form) }}
        <h2 class="hidden">Result</h2>
        <table id="upload-result-container"></table>
    </div>
{% endblock %}
