.hidden {display: none}
.wrapper {margin: 0 auto;width: 800px}
.file_uploader_btn, .file_uploader {margin-bottom: 30px}
#upload-result-container {border: 1px solid #04ce83;}
#upload-result-container td {border: 1px solid #04ce83; padding: 3px;}